// 科技风配色
// 主题色
$theme-color: #00bfff; // 深天蓝

// 背景色
$bg-color: #0a192f; // 深海军蓝
$bg-color-secondary: #172a45; // 稍亮的深海军蓝
$bg-color-tertiary: #303C55; // 更亮的深海军蓝

// 文本颜色
$text-color: #ccd6f6; // 淡蓝色
$text-color-light: #8892b0; // 灰色

// 边框颜色
$border-color: #495670;

// 代码块颜色
$code-bg-color: #000000; // 纯黑
$code-color: #f8f8f2; // 接近白色